<ion-view title="Add More Tickets" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="addMoreTickets-form13" class="list">
      <label class="item item-input" id="addMoreTickets-input4">
        <span class="input-label">Ticket ID :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addMoreTickets-input5">
        <span class="input-label">Ticket ID :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addMoreTickets-input6">
        <span class="input-label">Ticket ID :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addMoreTickets-input7">
        <span class="input-label">Ticket ID :</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.ticketInfo" id="addMoreTickets-button11" class="button button-positive  button-block">Submit</a>
  </ion-content>
</ion-view>