<ion-view title="Add Tickets Here" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="addTicketsHere-form6" class="list">
      <label class="item item-input" id="addTicketsHere-input1">
        <span class="input-label">Ticket ID :</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.addMoreTickets" id="addTicketsHere-button10" class="button button-positive  button-block icon ion-android-add"> Add More Tickets</a>
    <div id="addTicketsHere-button-bar2" class="button-bar">
      <a ui-sref="tabsController.ticketInfo" id="addTicketsHere-button17" class="button button-positive  button-block">Submit</a>
    </div>
  </ion-content>
</ion-view>