<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-calm">
      <div class="title">COOLIE</div>
    </ion-header-bar>
    <ion-content padding="true" class="side-menu-left has-header ">
      <ion-list id="cOOLIE-list1">
        <ion-item class="item-icon-left positive" id="cOOLIE-list-item1" ui-sref="cOOLIE.home" menu-close="">
          <i class="icon ion-home"></i>Home</ion-item>
        <ion-item class="item-icon-left positive" id="cOOLIE-list-item9" ui-sref="cOOLIE.ticketInfo" menu-close="">
          <i class="icon ion-information-circled"></i>Ticket Info</ion-item>
      </ion-list>
      <ion-list id="cOOLIE-list2">
        <ion-item class="item-icon-left positive" id="cOOLIE-list-item13" ui-sref="cOOLIE.promotions" menu-close="">
          <i class="icon ion-android-restaurant"></i>Promotions</ion-item>
        <ion-item class="item-icon-left positive" id="cOOLIE-list-item14" ui-sref="cOOLIE.medicalEmergency" menu-close="">
          <i class="icon ion-ios-medkit"></i>Medical Emergency</ion-item>
        <ion-item class="item-icon-left positive" id="cOOLIE-list-item15" ui-sref="cOOLIE.helpAndSupport" menu-close="">
          <i class="icon ion-help-buoy"></i>Help and Support</ion-item>
      </ion-list>
      <ion-list id="cOOLIE-list3">
        <ion-item class="item-icon-left positive" id="cOOLIE-list-item16" ui-sref="cOOLIE.reportLostBaggage" menu-close="">
          <i class="icon ion-briefcase"></i>Report Lost Baggage</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>