<ion-view title="Feedback" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="feedback-form8" class="list">
      <label class="item item-input" id="feedback-input2" name="age">
        <span class="input-label">Age</span>
        <input type="number" placeholder="Enter your age">
      </label>
      <label class="item item-select" id="feedback-select2" name="gender">
        <span class="input-label">Gender</span>
        <select>
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select>
      </label>
    </form>
    <div id="feedback-markdown10" class="show-list-numbers-and-dots">
      <h3>Please score our service:</h3>
    </div>
    <form id="feedback-form9" class="list">
      <label class="item item-select" id="feedback-select4" name="boarding">
        <span class="input-label">Boarding Experience</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="feedback-select5" name="flight">
        <span class="input-label">In Flight Experience</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="feedback-select6" name="facilities">
        <span class="input-label">Facilities</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="feedback-select7" name="food">
        <span class="input-label">Food</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="feedback-select8" name="security">
        <span class="input-label">Level Of Security</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="feedback-select9" name="attendants">
        <span class="input-label">Flight Attendants</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="feedback-select10" name="app">
        <span class="input-label">Quality of App</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-input" id="feedback-textarea2" name="suggestions">
        <span class="input-label">Suggestions</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>