<ion-view title="Help and Support" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="helpAndSupport-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">In case of any
        <strong>Support</strong>, please reach out to your nearest Airport Authority official or visit our website,
        <em>link</em>
      </p>
    </div>
    <a href="tel:+91 124 3376000" id="helpAndSupport-button6" class="button button-energized  button-block icon ion-android-call"> Helpline Number</a>
  </ion-content>
</ion-view>