<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header" ng-controller="BarScanController">
    <div id="home-container1">
      <div class="spacer" style="width: 300px; height: 72px;"></div>
      <button id="home-button2" style="font-weight:600;" class="button button-energized button-large button-block" ng-click="scanBarcode()"> Scan Ticket</button>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <div id="home-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#F7941D;font-size:50px;">OR</p>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <a ui-sref="cOOLIE.enterTicketID" id="home-button3" style="font-weight:500;" class="button button-energized button-large button-block">Enter Ticket ID!</a>
    <div class="spacer" style="width: 300px; height: 72px;"></div>
  </ion-content>
</ion-view>