<ion-view title="Medical Emergency" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="medicalEmergency-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="medicalEmergency-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">In case of any
        <strong>Medical Emergency</strong>, please reach out to your nearest Airport Authority official or contact us on our toll free number, </p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <form id="medicalEmergency-form6" class="list">
      <label class="item item-input" id="medicalEmergency-textarea1" name="emergency">
        <span class="input-label"></span><textarea placeholder="Enter Your Problem"></textarea></label>
    </form>
    <button id="medicalEmergency-button11" class="button button-assertive  button-block icon ion-android-alert"> SOS</button>
    <a href="tel:10999" id="medicalEmergency-button5" class="button button-energized  button-block icon ion-android-call"> Call Helpline</a>
  </ion-content>
</ion-view>