<ion-view title="Medical Emergency" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="medicalEmergency-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 30px;"></div>
    <div id="medicalEmergency-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">In case of any
        <strong>Medical Emergency</strong>, please reach out to your nearest Airport Authority official or contact us on our toll free number, </p>
    </div>
    <a href="tel:" id="medicalEmergency-button11" class="button button-assertive  button-block icon ion-android-call"> Airport Authority cust-care number</a>
  </ion-content>
</ion-view>