<ion-view title="Promotions" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="promotions-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="promotions-slide24" style="background:url(&quot;img/KlsrCDu0QAebU7MhpLQ9_Buy-1-Get-1-Pizza-Free-Offers-2013.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="promotions-slide25" style="background:url(&quot;img/xokjrAMNQeiFzENUz86O_Dominos-coupon-code.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="promotions-slide21" style="background:url(&quot;img/EZo0FIZQfG93r9DAOJui_download.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="promotions-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>