<ion-view title="Report lost Baggage" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div id="reportLostBaggage-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">In case of any
        <strong>Lost Baggage</strong>
        <em>or</em>
        <strong>Unability to track your Baggage</strong>, please reach out to your nearest Airport Authority official or contact us on our toll free number, </p>
    </div>
    <a href="tel:" id="reportLostBaggage-button12" class="button button-energized  button-block icon ion-android-call"> Report</a>
  </ion-content>
</ion-view>