<ion-view title="Ticket Info" id="page6">
  <ion-content padding="true" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="cOOLIE.bags" id="ticketInfo-card21">
      <ion-item class="energized" id="ticketInfo-list-item6">Name of the Passenger</ion-item>
      <div class="item item-body" id="ticketInfo-list-item-container2">
        <p>
          Show From:
        </p>
        <p>
          Show To:
        </p>
      </div>
      <div class="item item-body" id="ticketInfo-list-item-container4">
        <p>
          Baggage Details
        </p>
      </div>
    </a>
  </ion-content>
</ion-view>